/* styles.css */

:root {
    font-size: 10px;
}
 
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    min-height: 100vh;
    background-color: Snow;
    color: DimGray;
    margin: 0;
    padding-bottom: 3rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.btn:hover,
.btn:focus {
    background-color: DeepSkyBlue; /*Interactive Element Changes*/
}

header {
    background-color: White;
    border-bottom: 1px solid LightGray;
    padding: 1rem 0;
}

.profile {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;
}

.profile-image img {
    border-radius: 10%; /*changed border radius to make it morre roundish*/
    border: 2px solid DodgerBlue; 
}


.profile-user-settings button {
    background-color: DodgerBlue;
    color: White;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}
/*general styling for profile*/
.profile-user-name {
    color: DodgerBlue; 
    font-size: 1.5rem; 
}

.profile-real-name {
    font-weight: bold; 
}

.profile-stats ul {
    font-weight: bold; 
}

.profile-bio {
    margin-top: 1rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}

.gallery-item {
    flex: 0 1 calc(33.33% - 1rem); /* Distribute items in 3 columns with a 1rem gap */
    position: relative;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.gallery-item:hover img,
.gallery-item:focus img {                   /*extra research for "focus"*/
    transform: scale(1.1);
}

.gallery-item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8); /*extra research for background colors*/
    padding: 0.5rem;
    text-align: center;
}

.loader {
    height: 2rem;
    margin: 1rem 0;
    background-color: LightGray;
    display: flex;
    justify-content: center;
    align-items: center;
}
